*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}

body{
    background-color: white;
}

.main_container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

header{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_nav{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.first_nav{
    position: relative;
    display: flex;
    gap: 30px;
}

.dropdown-content1{
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    background-color: rgb(250, 252, 251); 
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top:40px;
    display: none;
    
}

.dropdown-content2{
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    background-color: rgb(250, 252, 251); 
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    position: absolute;
    left: 160px;
    top:40px;
    display: none;
    
}

#up1{
    display: none;
    cursor: pointer;
}

#up2{
    display: none;
    cursor: pointer;
}

#down1{
    cursor: pointer;
}

#down2{
    cursor: pointer;
}

.list_box{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.menu1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}



ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.login_register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu_icon{
    display: none;
}

.hide_menu{
    display: none;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.flexbox1{
    padding-left: 140px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.flexbox1 p{
    width: 330px;
}

.flexbox1 button{
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.inner_flex_boxes{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.flexbox2{
    width: 40%;
}

.desc_img{
    width: 360px;
    height: 400px;
}

.mobile_img{
    display: none;
}

li a{
    color: black;
}

.login_register a{
    color: black;
}

.register{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

h1{
    width: 180px;
}

.flexbox1 button:hover{
    background-color: white;
    color: black;
}



@media screen and (max-width:767px){
    .main_container{
        width: 100%;
        background-color: aqua;
    }
    .container{
        flex-direction: column-reverse;
    }
    .first_nav{
        display: none;
    }
    .login_register{
        display: none;
    }
    .flexbox1{
        width: 100%;
        padding: 0px;
        align-items: center;
    }
    .flexbox2{
        width: 100%;
        text-align: center;
    }
    h1{
        width: 100%;
        text-align: center;
    }
    .flexbox1 p {
        width: 265px;
        text-align: center;
    }
    .desc_img{
        display: none;
    }
    .mobile_img{
        width: 100%;
        display: block;
    }

    .menu_icon{
        padding-right: 10px;
        display: block;
    }

    .logo_nav{
        padding-left: 10px;
    }

    /* hide and menu */


.main_container{
        position: relative;
    }

.hide_menu{
  
    background-color: aliceblue;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 60px; 
    height: 100vh;   
   
}

.hide_close{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 20px;
   
}

.login_register1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.register1{
    width: 130px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.second_nav{
    padding-top: 60px;
    padding-left: 20px;
}

.second_nav ul{
    display: flex;
    flex-direction: column;
}



.dropdown-content11,.dropdown-content21{
    width: 200px;
    padding: 20px;
    box-shadow: 2px 2px #888888;
    background-color: rgb(250, 252, 251);
    display: none;
   
}

.menu11{
    padding-bottom: 11px;
    padding-top: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#up11,#up21{
    display: none;
}

/* .dropdown-content21{
    position: absolute; 
    top: 90px;
} */

/* #up11{
    display: none;
    cursor: pointer;
}

#down11{
    cursor: pointer;
}

#down21{
    cursor: pointer;
}
.menu11{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
} */

}

@media screen and (max-width:576px){
    .mobile_img{
        width: 100%;
    }
    .inner_flex_boxes{
        gap: 15px;
    }
}

@media screen and (max-width:375px){
    .inner_box img{
        width: 75%;
    }
}

@media screen and (max-width:320px){
    .inner_box img{
        width: 25%;
    }
}